@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.nav-link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #f59e0b;
  transition: all 0.5s ease;
}

.nav-link a:hover::after {
  width: 75%;
}

.stroke {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
}
